<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<link href="/bootstrap.css" rel="stylesheet">
	<title><%= 'Twilio SMS' %></title>
</head>
<body>
	<div class="container">
					<h1>Twilio SMS Client</h1>
					<h2>Because using your thumbs is hard</h2>
			<div class="container">
				<%= yield %>
			</div>
	</div>
</body>
</html>
